# Gun Violence Archive

### Import Python tools and Jupyter configuration

In [17]:
%load_ext lab_black

The lab_black extension is already loaded. To reload it, use:
  %reload_ext lab_black

In [18]:
import pandas as pd
import altair as alt
import altair_latimes as lat

In [19]:
alt.themes.register("latimes", lat.theme)
alt.themes.enable("latimes")

ThemeRegistry.enable('latimes')

In [20]:
pd.options.display.max_columns = 100
pd.options.display.max_rows = 1000
alt.data_transformers.disable_max_rows()
pd.options.display.max_colwidth = None

In [21]:
src = pd.read_csv(
    "data/raw/gun-violence-archive-2021-06-15.csv",
    parse_dates=["date"],
    dtype={"Incident ID": str},
    header=0,
    names=[
        "id",
        "date",
        "state",
        "city_county",
        "address",
        "killed",
        "injured",
        "operations",
    ],
)

In [22]:
src.head()

,id,date,state,city_county,address,killed,injured,operations
0,2035278,2021-06-15,Virginia,Hampton,1500 block of N King St,0,2,NaN
1,2035117,2021-06-14,Tennessee,Memphis,1780 Pendleton St,0,1,NaN
2,2035103,2021-06-14,New York,Corona (Queens),189th St and 119th Ave,0,2,NaN
3,2034224,2021-06-14,Connecticut,Hartford,24 Bliss St,0,2,NaN
4,2035095,2021-06-14,Illinois,Chicago,5105 W Fulton St,1,0,NaN

### Dates

In [23]:
src["date"] = pd.to_datetime(src["date"], format="%m/%d/%Y")
src["date"] = pd.to_datetime(src["date"].dt.strftime("%Y-%m-%d"))
src["year"] = src["date"].dt.year
src["quarter"] = src["date"].dt.quarter
src["day"] = src["date"].dt.day
src["month"] = src["date"].dt.month
src["weekday"] = src["date"].dt.weekday
src["monthname"] = src["date"].dt.month_name()
src["month_year"] = pd.to_datetime(src["date"]).dt.to_period("M")
src["month_year_full"] = src["date"].apply(lambda x: x.strftime("%B-%Y"))
src["month_year_full"] = pd.to_datetime(src["month_year_full"])