# LAX min/max temperatures: 1965-2021

### Import Python tools and Jupyter configuration

In [1]:
%load_ext lab_black

In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import re
import datetime as dt

In [3]:
import altair as alt
import altair_latimes as lat
import numpy as np

In [4]:
alt.themes.register("latimes", lat.theme)
alt.themes.enable("latimes")

ThemeRegistry.enable('latimes')

In [5]:
pd.options.display.max_columns = 1000
pd.options.display.max_rows = 1000
alt.data_transformers.disable_max_rows()
pd.options.display.max_colwidth = None

### Read data from NOAA

In [11]:
# https://docs.opendata.aws/noaa-ghcn-pds/readme.html

In [11]:
# Download: https://www.ncei.noaa.gov/orders/cdo/2597175.csv
# https://www.ncdc.noaa.gov/cdo-web/orders?email=mattstiles@gmail.com&id=2597175

In [20]:
src = pd.read_csv(
    "data/raw/downtown_la_sun_clouds_temp_1950-2021.csv", parse_dates=["DATE"]
)

In [21]:
src.columns = src.columns.str.lower()

### Dates

In [22]:
src["date"] = pd.to_datetime(src["date"], format="%m/%d/%Y")
src["date"] = pd.to_datetime(src["date"].dt.strftime("%Y-%m-%d"))
src["year"] = src["date"].dt.year
src["quarter"] = src["date"].dt.quarter
src["day"] = src["date"].dt.day
src["month"] = src["date"].dt.month
src["weekday"] = src["date"].dt.day_name()
src["monthname"] = src["date"].dt.month_name()
src["month_year"] = pd.to_datetime(src["date"]).dt.to_period("M")
src["month_year_full"] = src["date"].apply(lambda x: x.strftime("%B-%Y"))
src["month_year_full"] = pd.to_datetime(src["month_year_full"])

In [27]:
src.drop(["acsh", "psun", "tavg", "tsun"], axis=1, inplace=True)

In [33]:
src.head()

,station,name,date,tmax,tmin,year,quarter,day,month,weekday,monthname,month_year,month_year_full
0,USW00093134,"LOS ANGELES DOWNTOWN USC, CA US",1964-01-01,80,54,1964,1,1,1,Wednesday,January,1964-01,1964-01-01
1,USW00093134,"LOS ANGELES DOWNTOWN USC, CA US",1964-01-02,72,52,1964,1,2,1,Thursday,January,1964-01,1964-01-01
2,USW00093134,"LOS ANGELES DOWNTOWN USC, CA US",1964-01-03,73,50,1964,1,3,1,Friday,January,1964-01,1964-01-01
3,USW00093134,"LOS ANGELES DOWNTOWN USC, CA US",1964-01-04,72,51,1964,1,4,1,Saturday,January,1964-01,1964-01-01
4,USW00093134,"LOS ANGELES DOWNTOWN USC, CA US",1964-01-05,70,51,1964,1,5,1,Sunday,January,1964-01,1964-01-01